
<div class="card cadr">
    <div class="container-xl">
        <div class="card-body">
            <div class="row">
                <div class ="container text-start">
                    <div class="row">
                        <div class="col">
                            <img src="/media/lg.png" alt="" style="width: 15%">
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-sm-start">
                        <ul class="list-group list-group">
                            <p class=" text-light fw-bold">Навигация</p>
                            <a class="nav-link text-light" style="width: 100px" href="#">Главная</a>
                            <a class="nav-link text-light" style="width: 150px" href="{% url 'development' %}">Саморазвитие</a>
                            <a class="nav-link text-light" style="width: 100px%" href="{% url 'journal' %}">Журнал</a>
                        </ul>

                </div>
                <div class="col">
                    <div class="list-group">
                        <p class=" text-light fw-bold">О нас</p>
                        <a class="nav-link text-light" style="width: 25%" href="#">Конаткы</a>
                        <a class="nav-link text-light" style="width: 31%" href="#">Поддержка</a>
                        <a class="nav-link text-light" style="width: 25%" href="#">Реклама</a>
                    </div>
                </div>
                <div class="col">
                    clients
                </div>
            </div>
        </div>
    </div>
</div>