{% extends 'base.html' %}

{% block title %}
Распорядок дня | goalsv
{% endblock %}

{% block navbar %}
{% include 'inc/_nav.html' %}
{% include 'inc/development/_bar_development.html' %}
{% endblock %}

{% block face %}
<div class="container mt-3 box">

    <div class="container-xxl p-md-4">
        {% comment %} Text about site {% endcomment %}
       <div class="row gx-2 text-start" >
                <div class ="col">
                    <p class="fs-1 fw-bold text-light text-start">Саморазвитие</p>
                    <p class="fs-2 fw-bold text-start">Это совершенно бесплатно.<br>Онлайн — это удобно и эффективно</p>
                    <p class= "fs-4 ">Сайт создан в качестве помощника и личного наставника в выполнении целей для достижения успеха.</p>
                    <a href="#scrollspyHeading1"id="navbar-example2" class="img">
                        <img src="/media/down.png" alt="" style="width:15%">
                    </a>
                </div>
                <div class ="col">
                   <img src="/media/development.png" alt="" style="width: 90%">
               </div>


       </div>
   </div>

</div>
{% endblock %}


{% block content %}
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

    <div class="row gx-2 text-start" id="scrollspyHeading1" >
        <img src="/media/raz.png" alt="" style="width: 40%"></p>
        <p></p>
    </div>

    <div class="container-xxl p-md-4 box">
        {% comment %} 1 element(goals) {% endcomment %}
        <div class="row gx-2 text-start" id="scrollspyHeading1" >
            <div class="col-6">
                <div class ="container " style="width: 100%;">
                    <p class="fs-1 fw-bold text-light text-start">Категория Цели:</p>
                    <p class="fs-2 fw-bold text-start">Создавай цели <br>и выполняй задачи.</p>
                    <p class= "fs-4 ">Каждому человеку, который хочет добиться успеха, нужно определить свой путь. <b>Мы для этого.</b>
                        <a href="{% url 'goals' %}" class="btn btn-outline-dark" style="width: 50%"><b>Начать</b></a>    
                    </p>
                </div>
            </div>
            <div class="col">
                <img src="/media/goals.png" alt="" style="width: 100%">
            </div>
        </div>

        <p></p>

        {% comment %} 2 element(motivation) {% endcomment %}
        <div class="row gx-2 text-start" >

            <div class="col text-center">
                <img src="/media/notes.png" alt="" style="width: 50%">
            </div>
            <div class="col-6">
                <div class ="container" style="width: 100%;">
                    <p class="fs-1 fw-bold text-light text-start">Категория Заметки:</p>
                    <p class="fs-2 fw-bold text-start">Забываешь нужную информацию? <br>Записуй</p>
                    <p class= "fs-4 ">Здесь ты можешь решить проблему. <br>Иногда нам приходят умные идеи и мысли, так чтобы их не забывть, записуй.<br><b>Мы для этого.</b></p>
                            <a href="{% url 'notes' %}" class="btn btn-outline-dark" style="width: 50%"><b>Начать</b></a>

                    </p>
                </div>
            </div>

        </div>
        
        <p></p>

    {% comment %} 3 element(routine) {% endcomment %}
        <div class="row gx-2" >

            <div class="col-6">
                <div class ="container " id='scrollspyHeading3' style="width: 100%;">
                    <p class="fs-1 fw-bold text-light text-start">Категория Распорядок дня:</p>
                    <p class="fs-2 fw-bold text-start">Пиши свое расписание <br>и выполняй планы.</p>
                    <p class= "fs-4 ">Забудь, то чувство: "бесполезная трата времени".<br>Создавай в себе дисциплину.<br><b>Мы для этого.</b></p>
                        <a href="{% url 'routine' %}" class="btn btn-outline-dark" style="width: 50%"><b>Начать</b></a>
                    </p>
                </div>
            </div>
            <div class="col">
                <img src="/media/routine.png" alt="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
{% endblock %}





